{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}eLibros - Entrar{% endblock title %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>

<body class="bodylogin" style="padding: 3em 0em;">
    {% block content %}{% endblock content %}
</body>

</html>