{% extends './_base.html' %}
{% load static %}

{% block title %}eLibros - Alterar senha{% endblock %}

{% block content %}
  <header class="headerlogin">
    <h1><a href="{% url 'inicio' %}"><img src="{% static 'images/logoacesso.png' %}" alt="logo eLibros"></a></h1>
  </header>
  <main>
    <section class="secao-autenticacao" style="max-height: 40em !important;">
      <h2>Alterar senha</h2>
      <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <span class="mensagem-erro">{{error}}</span>
            {% endfor %}
          {% endfor %}
        {% endif %}


        
        <span class="mensagem-erro">{{form.error_messages.code}}</span>
        {{ form.non_field_errors }}

        <div class="form-group">
          <label for="password">Senha atual</label>
          <div class="input-icon">
              <img src="{% static 'images/icons/lock.png' %}" alt="Lock Icon" class="img-form">
              {{ form.old_password }}
          </div>
        </div>

        <div class="form-group">
          <label for="password">Nova Senha</label>
          <div class="input-icon">
              <img src="{% static 'images/icons/lock.png' %}" alt="Lock Icon" class="img-form">
              {{ form.new_password1 }}
          </div>
        </div>

        <div class="form-group">
          <label for="password">Confirme sua nova senha</label>
          <div class="input-icon">
              <img src="{% static 'images/icons/lock.png' %}" alt="Lock Icon" class="img-form">
              {{ form.new_password2 }}
          </div>
        </div>
        <button class="btn btn-success" type="submit">Alterar senha</button>
      </form>

      <div>
        <ul>
          <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
          <li>Sua senha deve conter pelo menos 8 caracteres.</li>
          <li>Sua senha não pode ser uma senha comumente usada.</li>
          <li>Sua senha não pode ser inteiramente numérica.</li>
        </ul>
      </div>
    </section>
  </main>
{% endblock content %}
