{% extends './_base.html' %}
{% load static %}
{% block content %}
{% if validlink %}
  <main class="main-autenticacao">
    <section class="secao-autenticacao" style="max-height: 40em !important;">
        <h1>Reset Password</h1>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button class="btn btn-primary" type="submit">Redefinir Senha</button>
        </form>
      {% else %}
      <section class="secao-autenticacao">
        <h1>Link Inválido</h1>
        <p>O link de redefinição de senha é inválido, provável por já ter sido usado, tente requisitar outro.</p>
      </section>
      {% endif %}
    </section>
  </main>
{% endblock content %}